{% extends "user/auth_base.html" %}

{% block title %}Login{% endblock %}

{% block auth_content %}
<div class="w-full max-w-sm p-5 glass-card rounded-lg animate__animated animate__fadeIn animate__slow">
    <h2 class="text-2xl font-bold text-center text-white mb-4">Login</h2>
    <form method="POST" class="space-y-3">
        {% csrf_token %}
        <div>
            <label for="username" class="block text-sm font-medium text-white">Username</label>
            <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="bi bi-person text-gray-500"></i>
                </span>
                <input type="text" name="username" id="username" placeholder="Username" class="w-full pl-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#13af80] text-sm text-gray-700 bg-white/80" required>
            </div>
        </div>
        <div>
            <label for="password" class="block text-sm font-medium text-white">Password</label>
            <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="bi bi-lock text-gray-500"></i>
                </span>
                <input type="password" name="password" id="password" placeholder="Password" class="w-full pl-10 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#13af80] text-sm text-gray-700 bg-white/80" required>
            </div>
        </div>
        <button type="submit" class="w-full bg-[#13af80] text-white p-2 rounded-md hover:bg-[#0f8c62] transition duration-300">
            <i class="bi bi-box-arrow-in-right me-1"></i>Login
        </button>
    </form>
    <p class="mt-4 text-sm text-center text-gray-200">
        Don't have an account? <a href="{% url 'register' %}" class="text-[#13af80] hover:text-[#0f8c62] transition duration-300">Register</a>
    </p>
</div>
{% endblock %}